<html>

<head>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src=test.js></script>
  <script src=test2.js></script>
</head>
<!-- <form id="content">
    <input type="text" name="input" class="input" id="search-input">
    <button type="reset" class="search" id="search-btn"></button>
  </form> -->

<body>
  <!--Div that will hold the pie chart-->
  <!-- <input id='search_query',aria-label="Search"> -->
  <!-- <div id='dash_div'></div> -->
  <h3>현재진행도: 백엔드 완료,프론트엔드 작업중 대략 구상안은 코인차트와 그 아래에 예상 가격명시</h3>
  <input type="text" value="KRW-BTC" id="coin-search-input" />
  <input type="button" class="btn btn-sm btn-primary" value="Get Coin Data" id="search-button" />
  <div id='dash_div'>
    <div id='filter_div'></div>
    <div id="chart_div"></div>

    <!-- <button ></button> -->
    <!-- </div> -->
    <div class="module">
      <div class="module-title" id="coin-ticker-module">
        <h1>Coin Ticker</h1>
      </div>

      <div class="coin-viewer"></div>
      <div class="coin-search-bar">
        <!-- <input type="text" value="KRW-BTC" id="coin-search-input" />
        <input type="button" class="btn btn-sm btn-primary" value="Get Coin Data" id="search-button"/> -->
      </div>
    </div>

  </div>
  <div> 내일 모레 글피
  <div id='test'style="width: 1200px; height: 500px;"></div>
</div>
</body>

</html>