<html>

<head>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src=test.js></script>
  <script src=test2.js></script>
  <link rel="stylesheet" href="test.css">
</head>
<!-- <form id="content">
    <input type="text" name="input" class="input" id="search-input">
    <button type="reset" class="search" id="search-btn"></button>
  </form> -->

<body>
  <!--Div that will hold the pie chart-->
  <!-- <input id='search_query',aria-label="Search"> -->
  <!-- <div id='dash_div'></div> -->
  <center><h1>내일의 코인 가격은?</h1></center>
  <h3>코인 검색은 대소문자 상관없이 업비트 마켓정보를 </h3><br><center>
  <input type="text" value="KRW-BTC" id="coin-search-input" />
  <input type="button" class="btn btn-sm btn-primary" value="Get Coin Data" id="search-button" /></center>
  <div id='dash_div'>
    <div id='filter_div'></div>
    <div id="chart_div"></div>

    <!-- <button ></button> -->
    <!-- </div> -->
    <div class="module">
      <div class="module-title" id="coin-ticker-module">
        <h1>Coin Ticker</h1>
      </div>

      <div class="coin-viewer"></div>
      <div class="coin-search-bar">
        <!-- <input type="text" value="KRW-BTC" id="coin-search-input" />
        <input type="button" class="btn btn-sm btn-primary" value="Get Coin Data" id="search-button"/> -->
      </div>
    </div>

  </div>
  <div id= table style="margin: 10%;">
    <p></p>
    <!-- <table border="1" bordercolor='blue' width='100%' align="center">
      <tr align="center">
        <th width='25%'>??</th>
        <th width='25%'>내일</th>
        <th width='25%'>모레</th>
        <th width='25%'>글피</th>
      </tr>
      <tr>
        <td>가장 낮은</td>
        <td>예측값</td>
        <td>sadasdsd</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table> 
    <p></p> -->
    </div>
  <div id='test'style="margin:0px width: 100%; height: 500px;"></div>

</body>

</html>